
h1, h2, p{
  text-align: center;
}

h2{
  padding-bottom: 0.2em;
}

.timeline{
  margin: 5em auto;
  max-width: 34.15em;
}

.checkpoint{
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div{
  border-radius: 1em;
  padding: 2em;
}

.checkpoint:nth-child(odd){
  border-left: 3px solid #888 ;
  padding: 1em;
  transform: translateX(11.95em);
}

.checkpoint:nth-child(even){
  border-right: 3px solid #888 ;
  padding-right: 1em;
  transform: translateX(-11.95em);
}

.checkpoint:nth-child(odd)::before, .checkpoint:nth-child(even)::before{
  content: "";
  background-color: #888;
  width: 1em; /* to be kept same as that of padding */
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
  left: 0;
}

.checkpoint:nth-child(even)::before{
  right: 0;
}

.checkpoint:nth-child(odd) div::before, .checkpoint:nth-child(even) div::before{
  content: "";
  background-color: whitesmoke;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd) div::before{
  left: -1.5em;
}

.checkpoint:nth-child(even) div::before{
  right: -1.5em;
}

/* making it responsive */
@media screen and (max-width:1150px) {
  .timeline{
    width: 80vw;
  }

  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .timeline .checkpoint::before{
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .checkpoint div::before {
    top:-0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}